Repository bernardoadribeiro/agendahair-app, pull requests merged in 2023-02, with the labels that each got.

#2 Feature/implementa models de usuario agendamento
  README.md
  backend/.env.sample
  backend/app.py
  backend/database.py
  backend/migrations/README
  backend/migrations/alembic.ini
  backend/migrations/env.py
  backend/migrations/script.py.mako
  backend/migrations/versions/4561a8a6ee7d_tabela_usuario.py
  backend/migrations/versions/d038331dc55b_tabela_agendamento.py
  backend/models/__init__.py
  backend/models/agendamento.py
  backend/models/usuario.py
  backend/requirements.txt
Labels: backend, feature

#1 feature/Página Inicial e componentes de Login
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/home.html
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/public/styles/src/home-header-background.jpg
  frontend/public/styles/styles.css
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/components/form.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/pages/Home/index.js
  frontend/src/pages/Home/styles.js
  frontend/src/pages/Signin/index.js
  frontend/src/pages/Signin/styles.js
  frontend/src/pages/Signup/index.js
  frontend/src/pages/Signup/styles.js
  frontend/src/reportWebVitals.js
  frontend/src/routes/index.js
  frontend/src/setupTests.js
Labels: frontend, feature

#3 fix: corrige containers hostname e erro de conexão com banco de dados
  .env.sample
  backend/.env.sample
  docker-compose.yml
Labels: bug, backend

#4 Feature/implementa login
  backend/app.py
  backend/models/usuario.py
  backend/requirements.txt
  backend/routes/auth.py
  backend/routes/usuario.py
Labels: backend, feature

#5 Deploy | Inteface de login e da página inicial + APIs de Login e Cadastro de Usuários
  .env.sample
  README.md
  backend/.env.sample
  backend/app.py
  backend/database.py
  backend/migrations/README
  backend/migrations/alembic.ini
  backend/migrations/env.py
  backend/migrations/script.py.mako
  backend/migrations/versions/4561a8a6ee7d_tabela_usuario.py
  backend/migrations/versions/d038331dc55b_tabela_agendamento.py
  backend/models/__init__.py
  backend/models/agendamento.py
  backend/models/usuario.py
  backend/requirements.txt
  backend/routes/auth.py
  backend/routes/usuario.py
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/home.html
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/public/styles/src/home-header-background.jpg
  frontend/public/styles/styles.css
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/components/form.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/pages/Home/index.js
  frontend/src/pages/Home/styles.js
  frontend/src/pages/Signin/index.js
  frontend/src/pages/Signin/styles.js
  frontend/src/pages/Signup/index.js
  frontend/src/pages/Signup/styles.js
  frontend/src/reportWebVitals.js
  frontend/src/routes/index.js
  frontend/src/setupTests.js
Labels: backend, frontend, feature

#6 Feature/crud agendamentos
  backend/app.py
  backend/routes/__init__.py
  backend/routes/agendamento.py
Labels: backend, feature

#7 refact: implementa try-except nas APIs
  backend/routes/agendamento.py
  backend/routes/auth.py
Labels: enhancement, backend, feature

#8 docs: implementa documentacao no swagger das APIs do app
  README.md
  backend/README.md
  backend/app.py
  backend/docs/agendamentos_delete.yml
  backend/docs/agendamentos_get.yml
  backend/docs/agendamentos_get_code.yml
  backend/docs/agendamentos_post.yml
  backend/docs/agendamentos_put.yml
  backend/docs/cadastrar_usuario.yml
  backend/docs/login.yml
  backend/docs/logout.yml
  backend/docs/usuarios_me.yml
  backend/requirements.txt
  backend/routes/agendamento.py
  backend/routes/auth.py
Labels: documentation, backend

#9 Feature/implementa api agendamento filterby codigo
  backend/routes/agendamento.py
Labels: backend, feature

#10 feat: implementa extensao para lidar com CORS
  backend/app.py
  backend/requirements.txt
Labels: backend, feature
